:root {
  background-color: #E1E4EA;
}
html {
  height: 100%;
  overflow-y: scroll;
}
body {
    color: #555;
    font-size: 14px;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
}
.sitecontent {
    position: relative;
    flex-grow: 1;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 10vh;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-x: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    list-style: none;
    padding: 5px 0 15px 0;
}
ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      overflow-x: auto;
      margin-top: 10px;
      margin-bottom: 30px;
      list-style: none;
      padding: 5px 0 15px 0;
}
a {
  text-decoration: none;
  color: black;
}
li {
  display: list-item;
  flex-direction: column;
  margin: 0 5px;
  padding: 0;
  width: 230px;
  box-sizing: border-box;
 }
 .div {
   display: block;
 }
 .liheader {
       width: 184.359px;
       flex-direction: column;
       box-shadow: 0px 0px 6px #999;
       background-color: #f9d2f9;
 }
 .liheader {
    position: relative;
    flex: 0 1 100%;
    color: #FFF;
    font-size: 15px;
    font-weight: 400;
    min-height: 24px;
    padding: 2px 0px;
    text-align: center;
}
 }
 .liheader, .a {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-decoration: none;
}
.imgli {
  width: 184.359px;
  border-radius: 1px;
  box-shadow: 3px 6px rgb(0 0 0 / 23%), 0 3px 6px rgb(0 0 0 / 16%);
  transition-property: box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
  border-style: none;
  vertical-align: middle;
  object-fit: cover;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:focus {
/*  outline: none; }
  @media only screen and (max-width: 40em) {
      .cards-list {
        margin-left: 0;
        margin-right: 15px; } }
    .cards-list li {
      margin: 0 5px;
      padding: 0; }
    .cards-list.no-margin-top {
      margin-top: 0; }
    .cards-list.no-margin-bottom {
      margin-bottom: 0; }
    .cards-list.cards-list-centered {
      justify-content: center; }
*/
